/* || RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    min-width: 100vw;
}
.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;;
}

.navbar-item {
    list-style-type: none;
    background-color: rebeccapurple;
    color: whitesmoke;
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.direct-item:last-child {
    border-radius: 0 10px 10px 0;
}

.direct-item:first-child {
    border-radius: 10px 0px 0px 10px;
}

.sub-item {
    border-top: 1px solid whitesmoke;
}